.meta {
    margin-top: 128px;
    margin-bottom: 2rem;
}

.meta .type {
    color: var(--grey);
    font-weight: 600;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.paginator {
    margin-top: 2rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.title {
    /* @extend .title; */
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1rem;
    /* text-align: center; */
    /* letter-spacing: 0.03em; */
}

.connection-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 0;
    /* margin-top: 2rem; */
    justify-content: center;
}

.connection-card {
    /* background: #1e1e1e; */
    border-radius: 16px;
    padding: 1rem;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.connection-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

body[data-theme='dark'] .connection-name,
body[data-theme='dark'] .connection-desc {
    color: #fff;
}

body[data-theme='light'] .connection-name,
body[data-theme='light'] .connection-desc {
    color: #000;
}

.connection-name {
    margin-top: 0.8rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.connection-desc {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.connection-link {
    background: transparent;
    border: 2px solid #007aff;
    color: #007aff;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
}

.connection-link:hover {
    text-decoration: none;
}